<section id="top-bar" class="p-3">
	<div class="container">
	  <div class="row">
	    <div class="col-md-4">
	      <i class="fas fa-phone"></i> (+998) 90-910-98-99
	    </div>
	    <div class="col-md-4">
	      <i class="fas fa-envelope-open"></i> ashirmatov9696@gmail.com
	    </div>
	    <div class="col-md-4">
	      <div class="social text-right">
	        </a>
	        <a href="https://www.linkedin.com/in/%D0%BD%D1%83%D1%80%D1%81%D1%83%D0%BB%D1%82%D0%B0%D0%BD-%D0%B0%D1%88%D0%B8%D1%80%D0%BC%D0%B0%D1%82%D0%BE%D0%B2-7aa1a1224/">
	          <i class="fab fa-linkedin"></i>
	        <a href="https://github.com/NursultanAshirmatov/btre_project">
	          <i class="fab fa-github"></i>
	        <a href="https://t.me/Bone_elemental">
	          <i class="fab fa-telegram"></i>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
</section>